In [8]:
import pickle
import pandas as pd

In [9]:
with open('dangjin_fcst_data.pkl','rb') as f:
    dangjin_fcst_data = pickle.load(f)
with open('dangjin_obs_data.pkl','rb') as f:
    dangjin_obs_data = pickle.load(f)

In [12]:
dangjin_fcst_data

,time,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 15:00:00,0.0,60.0,7.3,309.0,2.0
1,2018-03-01 18:00:00,-2.0,60.0,7.1,314.0,1.0
2,2018-03-01 21:00:00,-2.0,60.0,6.7,323.0,1.0
3,2018-03-02 00:00:00,-2.0,55.0,6.7,336.0,1.0
4,2018-03-02 03:00:00,-4.0,55.0,5.5,339.0,1.0
...,...,...,...,...,...,...
162203,2021-03-03 12:00:00,7.0,40.0,3.2,187.0,1.0
162204,2021-03-03 15:00:00,8.0,40.0,4.5,217.0,1.0
162205,2021-03-03 18:00:00,5.0,55.0,2.2,210.0,1.0
162206,2021-03-03 21:00:00,1.0,80.0,1.9,164.0,1.0
162207,2021-03-04 00:00:00,1.0,80.0,2.1,152.0,1.0

In [24]:
dangjin_obs_data

,time,Temperature,Humidity,WindSpeed,WindDirection,Cloud
0,2018-03-01 00:00:00,3.1,96.0,3.6,340.0,NaN
1,2018-03-01 01:00:00,2.8,97.0,0.7,140.0,NaN
2,2018-03-01 02:00:00,2.6,95.0,3.2,320.0,NaN
3,2018-03-01 03:00:00,2.0,97.0,1.9,230.0,NaN
4,2018-03-01 04:00:00,2.2,97.0,2.1,180.0,NaN
...,...,...,...,...,...,...
25621,2021-01-31 19:00:00,6.7,75.0,1.5,200.0,8.0
25622,2021-01-31 20:00:00,6.2,77.0,0.8,200.0,8.0
25623,2021-01-31 21:00:00,5.3,82.0,0.7,230.0,8.0
25624,2021-01-31 22:00:00,5.8,77.0,1.0,200.0,8.0
25625,2021-01-31 23:00:00,5.3,80.0,0.6,230.0,7.0

In [25]:
dangjin_inner_merged = pd.merge(dangjin_fcst_data, dangjin_obs_data, on='time', suffixes=('_fcst','_obs'))
dangjin_inner_merged

,time,Temperature_fcst,Humidity_fcst,WindSpeed_fcst,WindDirection_fcst,Cloud_fcst,Temperature_obs,Humidity_obs,WindSpeed_obs,WindDirection_obs,Cloud_obs
0,2018-03-01 15:00:00,0.0,60.0,7.3,309.0,2.0,0.4,56.0,5.0,320.0,NaN
1,2018-03-01 18:00:00,-2.0,60.0,7.1,314.0,1.0,-1.3,62.0,5.4,290.0,NaN
2,2018-03-01 18:00:00,-2.0,60.0,7.1,314.0,1.0,-1.3,62.0,5.4,290.0,NaN
3,2018-03-01 21:00:00,-2.0,60.0,6.7,323.0,1.0,-1.8,61.0,4.7,320.0,NaN
4,2018-03-01 21:00:00,-2.0,60.0,6.7,323.0,1.0,-1.8,61.0,4.7,320.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
157766,2021-01-31 21:00:00,6.0,80.0,4.3,176.0,4.0,5.3,82.0,0.7,230.0,8.0
157767,2021-01-31 21:00:00,6.0,80.0,4.3,176.0,4.0,5.3,82.0,0.7,230.0,8.0
157768,2021-01-31 21:00:00,6.0,80.0,4.3,176.0,4.0,5.3,82.0,0.7,230.0,8.0
157769,2021-01-31 21:00:00,6.0,80.0,4.3,176.0,4.0,5.3,82.0,0.7,230.0,8.0
157770,2021-01-31 21:00:00,6.0,80.0,4.0,174.0,4.0,5.3,82.0,0.7,230.0,8.0

In [31]:
dangjin_outer_merged = dangjin_obs_data.merge(dangjin_fcst_data,how='outer',on='time',suffixes=('_obs','_fcst'))
dangjin_outer_merged

,time,Temperature_obs,Humidity_obs,WindSpeed_obs,WindDirection_obs,Cloud_obs,Temperature_fcst,Humidity_fcst,WindSpeed_fcst,WindDirection_fcst,Cloud_fcst
0,2018-03-01 00:00:00,3.1,96.0,3.6,340.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-03-01 01:00:00,2.8,97.0,0.7,140.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-03-01 02:00:00,2.6,95.0,3.2,320.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-03-01 03:00:00,2.0,97.0,1.9,230.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-03-01 04:00:00,2.2,97.0,2.1,180.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
179292,2021-03-03 18:00:00,NaN,NaN,NaN,NaN,NaN,5.0,55.0,2.2,210.0,1.0
179293,2021-03-03 21:00:00,NaN,NaN,NaN,NaN,NaN,1.0,80.0,1.9,164.0,1.0
179294,2021-03-03 21:00:00,NaN,NaN,NaN,NaN,NaN,1.0,80.0,1.9,164.0,1.0
179295,2021-03-04 00:00:00,NaN,NaN,NaN,NaN,NaN,1.0,80.0,2.1,152.0,1.0
179296,2021-03-04 00:00:00,NaN,NaN,NaN,NaN,NaN,1.0,80.0,2.1,152.0,1.0

## Problem: duplicated rows

In [34]:
dangjin_fcst_data.duplicated().sum(), dangjin_obs_data.duplicated().sum()

(117528, 0)

In [33]:
dangjin_inner_merged.duplicated().sum(), dangjin_outer_merged.duplicated().sum()

(114289, 117528)